@model StartManagerViewModel

<h2>Ärenden</h2>
<p class="info">Du är inloggad som avdelningschef</p>

	<table id="managerForm">
		<tr>
			<td class="label">Välj status:</td>
			<td class="label">Välj handläggare:</td>
			<td>&nbsp;</td>
			<td class="label">Ärendenummer:</td>
			<td>&nbsp;</td>
    </tr>
    <tr>
			<form asp-action="StartManager" method="post">
        <td>
                <select asp-for="SelectedStatus" asp-items="@(new SelectList(Model.ErrandStatuses, "StatusName", "StatusName"))">
                    <option value="">Välj alla</option>
                </select>
        </td>
        <td>
                <select asp-for="SelectedEmployee" asp-items="@(new SelectList(Model.Employees, "EmployeeName", "EmployeeName"))">
                    <option value="">Välj alla</option>
                </select>
        </td>
        <td><input class="button" type="submit" value="Hämta lista" /></td>
            </form>
			<form asp-action="StartManager" method="post">
		<td>
				<input asp-for="RefNumber" />
		</td>
		<td><input class="button" type="submit" value="Sök" /></td>
			</form>
    </tr>
	</table>

<!--Nedan ser man en lista på ärenden-->
<table>
	<tr>
		<th>Ärende anmält</th>
		<th>Ärendenummer</th>
		<th>Miljöbrott</th>
		<th>Status</th>
		<th>Avdelning</th>
		<th>Handläggare</th>
	</tr>
	@foreach (ErrandViewModel errand in Model.Errands!)
	{
		<tr>
			<td>@errand.DateOfObservation.ToString("yyyy-MM-dd")</td>
			<td><a asp-controller="Manager" asp-action="CrimeManager" asp-route-id="@errand.ErrandID">@errand.RefNumber</a></td>
			<td>@errand.TypeOfCrime</td>
			<td>@errand.StatusName</td>
			<td>@errand.DepartmentName</td>
			<td>@errand.EmployeeName</td>
		</tr>
	}
</table>
@if (ViewBag.NoErrandsMessage != null)
{
	<p class="warning">@ViewBag.NoErrandsMessage</p>
}